.title { text-transform: capitalize; }

table {
  border: 1px #ccc solid;
  border-collapse: collapse;
  text-align: left;
  vertical-align: top;
}

thead tr td {
  border-bottom: 1px solid #999;
  font-weight: 700;
}

td {
  border-bottom: 1px #eee solid;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.noData td { display: none; }
.lessData td:nth-child(n+5) { display: none; }

